.contenedor {
    width: 100%;
    background-color: rgb(252, 251, 249);
    
}
.cabecera {
    margin-left: 5px; 
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-right: 10px;
}

.logo {
    padding:5px 0 5px;
}

.hamb {
    width: 23px;
    height: 23px;
}