.container{
  width: auto;
  background-color: rgb(122, 195, 238); ;
}
.cabecera {
  width: 1171px;
  height: 95px;
  text-align: center;
  font-weight: 500;
  color: white;
  /*background: rgb(122, 195, 238);*/
}
